html{
    scroll-behavior: smooth;
    
}

body{
    
    height: 100vh;
    width: 100vw;
    
}
#terminal{
    margin-top: 5px;
}
label{
    width: 100%;
}
input[type=checkbox]:checked+label {
    background-color: #b1dfbb;
    color: #155724;

}
#consultar{
    width: 90%;
    margin: 10px 10px;
}

.sticky-header{
    position: sticky;
    
}
.check_list_escuro{
color: white;
}
#flexSwitchCheckDefault:checked+label{
    background-color: inherit;
    color:inherit;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }

  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  #check_list{
    display: none;
  }

  #table_div{
    display: none;
  }

  #loader{
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    visibility: visible;
    opacity: 1;
    z-index: 3001;
    background: rgba(0, 0, 0, 0.5);
    
  }
.menu{
    position: sticky;
    top:0;
}
